<h3>Contact email</h3>

<p>Subject: {{ contact.subject }}</p>
<p>Name: {{ contact.name }}</p>
<p>Email: {{ contact.email }}</p>
<p>Message: {{ contact.message }}</p>

<p>Regards, <br>
    Purethink</p>